<%- include("partials/header") %>

<div id="account-box" class="frontmatter">
    <h2 class="center-text mtop">Account</h2>

        <form class="logout mid center-text mtop" action="/users/logout" method="POST">
            <button class="btn mbottom">
                Logout
            </button>
        </form>

        <form class="aform" action="/users/me/avatar" method="POST" enctype="multipart/form-data">
            <input class="finput mtop" type="file" name="avatar">
            <% if (user.avatar) { %>
    <img class="avatar" src="/users/<%=user._id%>/avatar" alt="Avatar">
    <% } %>
    <button class="btn submit mtop mbottom">Upload Avatar</button>
    </form>

    <%if (locals.error) {%>
        <p class="error center-text mtop"><%=error%></p>
    <%}%>
    <%if (locals.message) {%>
        <p class="center-text mtop"><%=message%></p>
    <%}%>

    <form class="user-info" action="/users/me?_method=PATCH" method="POST">

        <p>*First Name:</p>
        <input type="text" name="first_name" value="<%=user.first_name%>" required>

        <p>*Last Name:</p>
        <input type="text" name="last_name" value="<%=user.last_name%>" required>

        <p>*Email:</p>
        <input type="email" name="email" value="<%=user.email%>" required>
        
        <p>New Password:</p>
        <input type="password" name="password">
        
        <p>Phone<small>(Format: 123-456-7890)</small></p>
        <input type="tel" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" value="<%=user.phone%>">
        <button class="btn submit mtop">Update</button>

    </form>

    <a class="error mid center-text mtop mbottom" href="/users/me/delete">Delete Account</a>

</div>

<script src="/js/phone.js"></script>

<%- include("partials/footer") %>