<%- include("partials/header") %>

<div id="box" class="frontmatter">
    <% if (locals.error) { %>
    <p class="error center-text mtop mbottom"><%=error%></p>
    <% } %>
    <form action="/rsvp" method="POST" enctype="multipart/form-data">
        <h2 class="mbottom center-text">New RSVP</h2>
        <img class="icon mbottom" src="/img/paper_airplane.png" alt="paper_airplane">
        <hr class="mbottom">
        <p class="mbottom mtop center-text">Who:</p>
        <label for="author">*Author/Host</label>
        <input type="text" name="author" value="<%=user.first_name + ' ' + user.last_name%>">
        <label for="author_email">*Email</label>
        <input type="email" name="author_email" value="<%=user.email%>">
        <label for="author_phone">Phone</label>
        <input type="text" name="author_phone" value="<%=user.phone%>">
        <p class="mbottom mtop center-text">What:</p>
        <label for="title">*Title</label>
        <input type="text" name="title" id="title">
        <label for="description">Description</label>
        <textarea class="mbottom" type="text" name="description"></textarea>
        <p class="mbottom mtop center-text">Include an image (jpg/png)</p>
        <input class="finput rsvp-img-upload" type="file" accept=".jpeg,.jpg,.png" name="rsvp-img">
        <p class="mbottom mtop center-text">When &amp; Where:</p>
        <label for="location">*Location</label>
        <input type="text" name="location">
        <label for="date">*Date</label>
        <input type="text" name="date">
        <label for="time">*Time</label>
        <input type="text" name="time">
        <button class="btn submit mtop mbottom">Submit</button>
    </form>
</div>


<%- include("partials/footer") %>