<%- include("partials/header") %>

<div id="box" class="frontmatter">
    <% if (locals.error) { %>
    <p class="error center-text mtop mbottom"><%=error%></p>
    <% } %>
    <form action="/rsvp/<%=rsvp.id%>?_method=PATCH" method="POST" enctype="multipart/form-data">
        <h2 class="mtop mbottom center-text">Edit RSVP</h2>
        <hr class="mbottom">
        <p class="mbottom mtop center-text">Who:</p>
        <label for="author">*Author/Host</label>
        <input type="text" name="author" value="<%=rsvp.author%>">
        <label for="author_email">*Email</label>
        <input type="email" name="author_email" value="<%=rsvp.author_email%>">
        <label for="author_phone">Phone <small>(Format: 123-456-7890)</small></label>
        <input type="tel" name="author_phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" value="<%=rsvp.author_phone%>">
        <p class="mbottom mtop center-text">What:</p>
        <label for="title">*Title</label>
        <input type="text" name="title" id="title" value="<%=rsvp.title%>">
        <label for="description">Description</label>
        <textarea class="mbottom" type="text" name="description"><%=rsvp.description%></textarea>
        <p class="mbottom mtop center-text">Image (jpg/png)</p>
        <input class="finput rsvp-img-upload" type="file" accept=".jpeg,.jpg,.png" name="rsvp-img">
        <p class="mbottom mtop center-text">When &amp; Where:</p>
        <label for="location">*Location</label>
        <input type="text" name="location" value="<%=rsvp.location%>">
        <label for="date">*Date</label>
        <input type="text" name="date" value="<%=rsvp.date%>">
        <label for="time">*Time</label>
        <input type="text" name="time" value="<%=rsvp.time%>">
        <button class="btn submit mtop mbottom">Submit</button>
    </form>

</div>

<%- include("partials/footer") %>