<%- include("partials/header") %>

<div id="box" class="frontmatter bordered">

    <h2 class="center-text mbottom">My RSVPs</h2>
    <img class="icon mbottom" src="/img/paper_airplane.png" alt="paper_airplane">

    <% if (!rsvps.length) { %>
    <p class="center-text">RSVPs you have created will be listed here.</p>
    <p class="center-text mtop">
        Create a <a href="/rsvp">new RSVP</a>
    </p>
    <% } %>

    <div class="dropdowns">
        <label for="sort">Sort by</label>
        <select name="sort">
            <option value="createdAt">Created</option>
            <option value="num_guests">Registered Guests</option>
            <option value="date">Date</option>
            <option value="title">Alphabetical</option>
        </select>
        <label for="order">Order</label>
        <select name="order">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>
        <button class="btn btn-sort">Sort</button>
    </div>

    <div class="rsvp-list-box">

        <ul class="rsvp-list">
            <% rsvps.forEach((rsvp) => { %>
            <hr>
            <li class="mtop mbottom">
                <a class="rsvp-list-title" href="/rsvp/<%=rsvp.id%>"> <%=rsvp.title%> </a>
                <div class="rsvp-list-actions">
                    <a href="/rsvp/<%=rsvp.id%>/joined">Guest-List</a>
                    |
                    <a href="/rsvp/<%=rsvp.id%>/qr">QR</a>
                    |
                    <a href="/rsvp/<%=rsvp.id%>/edit">Edit</a>
                    |
                    <a class="error" href="/rsvp/<%=rsvp.id%>/delete">Delete</a>
                </div>
            </li>
            <% }); %>

        </ul>
    </div>

</div>

<script>
    const sortSelect = document.querySelector("select[name='sort']");
    const orderSelect = document.querySelector("select[name='order']");
    const key = "<%=Object.keys(sort)%>";
    const val = "<%=Object.values(sort)%>";

    if (key.length) {
        sortSelect.value = key;
        orderSelect.value = val === "1" ? "asc" : "desc";
    }

    document.querySelector(".btn-sort").addEventListener("click", (e) => {
        const sortValue = sortSelect.value;
        const orderValue = orderSelect.value;

        let urlString = "";
        if ("<%=url%>".startsWith("localhost")) urlString += "http://";
        urlString += "<%=url%>/rsvps?";
        urlString += `sortBy=${sortValue}`;
        urlString += `:${orderValue}`;

        this.location.href = urlString;
    });
</script>

<%- include("partials/footer") %>