<%- include("partials/header") %>

    <div class="frontmatter">
        <img class="qr-img" src="<%= rsvp.qr %>" alt="QR">
        <p>
            <%=rsvp.title%>
        </p>
        <p>
            <%=rsvp.description%>
        </p>
        <p>
            <%=rsvp.location%>
        </p>
        <p>
            <%=rsvp.date%>
        </p>
        <p>
            <%=rsvp.time%>
        </p>
        <p>
            <%=rsvp.author%>
        </p>
        <p>
            <%=rsvp.author_email%>
        </p>
        <p>
            <%=rsvp.author_phone%>
        </p>
        <p>
            <%=rsvp.num_guests%> Guests currently registered.
        </p>
        <button class="btn guests">View the guestlist</button>

        <div class="guestlist">

            derp

            <ul>
            
                <% locals.rsvp.joined.forEach((party) => { %>
            
                    <li><%=party.party%></li>
            
                <% }); %>
        
            </ul>
        
        </div>
    
        
        <form action="/rsvp/<%=rsvp.id%>" method="POST">
            <label for="party">*Name</label>
            <input type="text" name="party" placeholder="John Doe" required>
            <label for="email">*Email</label>
            <input type="email" name="email" placeholder="jdoe@gmail.com" required>
            <label for="num_guests">Number of guests attending</label> 
            <input type="number" name="num_guests" min="1" value="1" required>
            <input type="submit" name="accepted" value="Accept">
            <input type="submit" name="accepted" value="Decline">
        </form>


<!--         
        <form action="/rsvp/<%=rsvp.id%>" method="POST">
            <button class="btn decline">Decline</button>
        </form> -->
        
    </div>


<script src="/js/guestlist.js"></script>


<%- include("partials/footer") %>
