<%- include("partials/header") %>

<div id="small-box" class="frontmatter">
    <h2 class="center-text mbottom">
        <%=rsvp.title%>
    </h2>
    <% if (rsvp.img) { %>
    <img class="rsvp-img" src="/rsvp/<%=rsvp.id%>/img" alt="rsvp-image">
    <% } %>
    <p class="center-text mtop mbottom">
        <%=rsvp.description%>
    </p>
    <p class="center-text">
        <%=rsvp.location%>
    </p>
    <p class="center-text">

        <!-- Returns the day of the week, according to universal time (from 0-6) -->
        <%= new Date(rsvp.date).getUTCMonth() + 1%>
        /
        <!-- (1-31) -->
        <%= new Date(rsvp.date).getUTCDate()%>
        /
        <%= new Date(rsvp.date).getUTCFullYear()%>

    </p>

    <p class="center-text mbottom">
        <%- new Date('1970-01-01T' + rsvp.time + 'Z').toLocaleTimeString({}, {timeZone:'UTC',hour12:true,hour:'numeric',minute:'numeric'}); %>
        <% if (rsvp.end_time) { %>
        -
        <%- new Date('1970-01-01T' + rsvp.end_time + 'Z').toLocaleTimeString({}, {timeZone:'UTC',hour12:true,hour:'numeric',minute:'numeric'}); %>
        <% } %>
    </p>


    <p class="center-text">
        <%=rsvp.author%>
    </p>
    <p class="center-text">
        <%=rsvp.author_email%>
    </p>
    <p class="center-text mbottom">
        <%=rsvp.author_phone%>
    </p>
    <p class="center-text">
        <%=rsvp.joined.length%> parties registered | <%=rsvp.num_guests%> total guests.
    </p>

    <% if (rsvp.joined.length) { %>
    <button class="btn submit mtop btn-guestlist">Show the guest-list</button>
    <% } %>

    <div class="guestlist">
        <ul class="partylist center-text">
            <% rsvp.joined.forEach((party) => { %>
            <li class="mtop"><%=party.party%></li>
            <% }); %>
        </ul>
    </div>
    <hr class="mtop">
    <h2 class="center-text mtop">RSVP</h2>

    <% if (locals.error) { %>
    <p class="center-text mbottom error"><%=error%></p>
    <% } %>

    <form action="/rsvp/<%=rsvp.id%>" method="POST">
        <label for="party">*Party Name</label>
        <input type="text" name="party" value="<%=locals.user ? user.first_name + ' ' + user.last_name : ''%>"
            placeholder="John Doe" required>
        <label for="email">*Email</label>
        <input type="email" name="email" value="<%=locals.user ? user.email : ''%>" placeholder="jdoe@gmail.com"
            required>
        <label for="party_size">Number of guests in party</label>
        <input type="number" name="party_size" min="1" value="1" required>

        <% if (rsvp.pin) { %>
        <label for="pin">*PIN</label>
        <input class="center-text" type="text" name="pin" id="pin">
        <% } %>

        <input class="btn submit mbottom mtop" type="submit" name="accepted" value="Accept">
        <input class="btn submit delete" type="submit" name="accepted" value="Decline">
    </form>

</div>

<script src="/js/guestlist.js"></script>
<script src="/js/upper.js"></script>

<%- include("partials/footer") %>