<%- include("partials/header") %>

<div id="box" class="frontmatter">

    <h1 class="mbottom center-text">Guest-List</h1>
    <h2 class="mbottom center-text"><a href="/rsvp/<%=rsvp.id%>"><%=rsvp.title%></a></h2>

    <hr>

    <h4 class="mtop mbottom center-text"><%=rsvp.location%></h4>
    
    <h4 class="mbottom center-text">
        <!-- <%=rsvp.date%> -->
    
        <!-- Returns the day of the week, according to universal time (from 0-6) -->
        <%= new Date(rsvp.date).getUTCMonth() + 1%>
        /
        <!-- (1-31) -->
        <%= new Date(rsvp.date).getUTCDate()%>
        /
        <%= new Date(rsvp.date).getUTCFullYear()%>
    

    </h4>

    <h4 class="mbottom center-text">
        <%- new Date('1970-01-01T' + rsvp.time + 'Z').toLocaleTimeString({}, {timeZone:'UTC',hour12:true,hour:'numeric',minute:'numeric'}); %>
        <% if (rsvp.end_time) { %>
                - 
                <%- new Date('1970-01-01T' + rsvp.end_time + 'Z').toLocaleTimeString({}, {timeZone:'UTC',hour12:true,hour:'numeric',minute:'numeric'}); %>
        <% } %>
    </h4>

    
    <h4 class="mtop mbottom center-text">Total guests attending: <%=rsvp.num_guests%></h4>
    
    <div class="dg-header">
        <h4 class="dg">Party Name</h4>
        <h4 class="dg"># Guests in party</h4>
        <h4 class="dg">Email</h4>
    </div>

    <% rsvp.joined.forEach((party) => { %>

        <hr>

        <div class="dg-party mtop mbottom">
            <p class="dg"><%=party.party%></p>
            <p class="dg dg-party-size"><%=party.party_size%></p>
            <p class="dg"><a href="mailto:<%=party.email%>"><%=party.email%></a></p>
        </div>

    <% }); %>


</div>


<%- include("partials/footer") %>