<%- include("partials/header") %>

<div id="box" class="frontmatter padded-box">

    <% if (locals.user) { %>
        <div class="registered">
            <h2 class="mbottom center-text">You've been successfully registered.</h2>
            <p class="center-text"><%=user.name%></p>
            <p class="center-text"><%=user.email%></p>
        </div>
    <% } %>

</div>

<script>
    setTimeout(() => {
        window.location.href = "http://<%=url%>/";
    }, 5000);
</script>

<%- include("partials/footer") %>